{% extends 'base.html' %}
{% block title %} Locations {% endblock %}
{% block header %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap {height:500px; width: 100%;}
		#control{width:100%;}
	</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=P5aG2IYp8mvmNWaQGZVK3C2fPuGccopV"></script>

  <ul>
  <li>Posts</li>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
<li>Locations</li>
  {% if g.user %}
    <a class="action" href="{{ url_for('location_for_page.query') }}">Query</a>
  {% endif %}
</ul>
{% endblock %}

{% block content %}

<body>
<div id="allmap"></div>
</body>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 15);
	map.enableScrollWheelZoom();
var sy = new BMap.Symbol(BMap_Symbol_SHAPE_BACKWARD_OPEN_ARROW, {
    scale: 0.6,//图标缩放大小
    strokeColor:'#fff',//设置矢量图标的线填充颜色
    strokeWeight: '2',//设置线宽
});
var icons = new BMap.IconSequence(sy, '10', '30');

var bmappoints = []
  {% for location in locations %}
    bmappoints[{{ loop.index0 }}] = new BMap.Point({{ location.coordinate}})
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
	var polyline = new BMap.Polyline(bmappoints, {
        enableEditing: false,//是否启用线编辑，默认为false
        enableClicking: true,//是否响应点击事件，默认为true
        icons:[icons],
        strokeWeight:'8',//折线的宽度，以像素为单位
        strokeOpacity: 0.8,//折线的透明度，取值范围0 - 1
        strokeColor:"#18a45b" //折线颜色
    });   //创建折线
	map.addOverlay(polyline);   //增加折线
</script>
{% endblock %}


