{% extends 'base.html' %}
{% block title %} Posts {% endblock %}
{% block header %}
  <ul>
  <li>Posts</li>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
<li>Locations</li>
  {% if g.user %}
    <a class="action" href="{{ url_for('location_for_page.query') }}">Query</a>
  {% endif %}
</ul>
{% endblock %}

{% block content %}

  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post.author.username }} on {{ post.created.strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ post.update_url }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
