<!doctype html>
<title>{% block title %}{% endblock %} - Pursue</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login-form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='raneto.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ghostdown.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='zocial.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='raneto.rtl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='solarized_light.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<body class="page-home">
  <header class="header">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                <a href="{{ url_for('index') }}" class="pull-left">首页</a>
              </div>
              <div class="col-sm-6">
                    {% if g.user %}
                    <span>{{ g.user['username'] }}</span>
                    <a href="{{ url_for('user.logout') }}" class="btn btn-info pull-right">Log Out</a>
                    {% else %}
                    <a href="{{ url_for('user.register') }}" class="btn btn-info pull-right">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url_for('user.login') }}" class="btn btn-info pull-right">Log In</a>
                    {% endif %}
              </div>
        </div>
      </div>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</body>
